@media (max-width: 1200px){

    body{
        background-color: #991910f8;
    }

    .fondo-video{
        display: none;
    }

    .container{
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .mario{
        max-width: 50%;
    }

    .container .informacoes{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .descricao{
        color: white;
        text-align: center;
    }

    .container .boton-trailer{
        background-color: #263238;
    }
}

@media (max-width: 500px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .container .imagem-titulo{
        max-width: 75%;
    }

    .modal .fechar-modal{
        width: 30px;
        line-height: 30px;
    }
    .modal #video{
        width: 250px;
        height: 140px;
    }
}